<h3>Utwórz użytkownika</h3>

<form [formGroup]="formGroup" (ngSubmit)="submitCreateUser()">
  <div class="row">
    <div class="col-3">
      <div class="form-group">
        <input
          formControlName="firstName"
          class="form-control"
          placeholder="Imię"
        />
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <input
          formControlName="lastName"
          class="form-control"
          placeholder="Nazwisko"
        />
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <select formControlName="categoryId" class="custom-select">
          <option [value]="''" selected disabled>Wybierz dyscyplinę</option>
          <option
            *ngFor="let category of categories$ | async"
            [value]="category.categoryId"
          >
            {{ category.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-1">
      <button
        [disabled]="formGroup.invalid"
        type="submit"
        class="btn btn-primary"
      >
        Utwórz
      </button>
    </div>
  </div>
</form>

<div *ngIf="{ users: users$ | async } as data">
  <h3>List użytkowników</h3>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Imię</th>
        <th scope="col">Nazwisko</th>
        <th scope="col">Kategoria</th>
        <th scope="col">Stanowisko</th>
        <th scope="col">Akcje</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of data.users">
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user?.category }}</td>
        <td>{{ user?.position }}</td>
        <td>
          <button
            (click)="deleteUser(user.userId)"
            type="button"
            class="btn btn-danger"
          >
            Usuń
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="5" *ngIf="!data?.users?.length">
          Brak użytkowników
        </td>
      </tr>
    </tbody>
  </table>
</div>
